
*.ipynb
.ipynb*
*.sql
~*
.~*
*.bak
eggs/
pyramid.pid
scores.zip.gz
zzzz/
.idea
.zedstate
*.pyc
*.pyo
*.db
*.log
*.swp
*.swo
*.bak
*~
dpisdevdb.sh
*.orig
*.eggs

# Ignore Folders
include/
bin/
lib/
local/
share/
*.eggs/
*.egg-info/
/dist/
